.postsSectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .postsSectionHeader h3 {
    font-size: 18px;
    color: white;
    margin: 0;
  }
  
  .sortBar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.95rem;
    color: #ffffff;
  }
  
  .sortBar label {
    font-weight: 500;
  }
  
  .sortBar select {
    padding: 0.4rem 0.8rem;
    background-color: #2c2c2c;
    color: #ffffff;
    border: 1px solid #444;
    border-radius: 8px;
    font-size: 0.95rem;
    cursor: pointer;
  }
  
  .sortBar select:focus {
    outline: none;
    border-color: #1E90FF;
    box-shadow: 0 0 0 2px rgba(60, 76, 36, 0.4);
  }
  
  .infoBox {
    background-color: #1c1c1e;
    color: #ccc;
    padding: 0px;
    border-radius: 8px;
    margin-top: 1rem;
    font-size: 0.95rem;
    max-width: 400px;
    margin-inline: auto;
    border: 1px solid #333;
    text-align: center;
  }
  
  .infoHeader {
    font-weight: 600;
    color: #f0f0f0;
    margin-bottom: 0.75rem;
  }
  